.navbar {
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px rgba(14, 0, 65, 0.1);
    z-index: 10000;
    background-color: #091c34;
    padding: 10px 0;
    font-family: cursive;
    width: 100%
  }
  .navbar__main {
    display: flex;
    max-width: 1200px;
    margin: 8px 10%;
    justify-content: space-between;
    align-items: center;
    background-color: #091c34;
  }
  .navname {
    width: 80px;
    color: #fefeff;
    background-color: #091c34;
  }
  .navbar__list--desktop {
    list-style: none;
    display: flex;
    margin: 0 ;
    background-color: #091c34;
  }
  .navbar__list--desktop li {
    margin: 0 20px;
    font-size: 1.2rem;
    background-color: #091c34;
  }
  .navbar__list--desktop li a {
    color: #fefeff;
    text-decoration: none;
    background-color: #091c34;
    font-family: cursive;
  }
  .navbar__list--desktop li::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.25rem;
    margin-top: 0.25rem;
    border-radius: 0.1875rem;
    background: #8bbd18;
    transform: scaleX(0);
    transition: 0.17s;
  }
  
  .navbar__list--desktop li:hover:after {
    transform: scaleX(1);
    
  }
  .navbar__list--mobile {
    display: none;
  }
  .navbar__mobile--icon {
    display: none;
  }
  @media screen and (max-width: 650px) {
    .navbar__list--desktop {
      display: none;
    }
    .navbar__mobile--icon {
      color: #ffffff;
      display: inline;
      font-size: 2.5rem;
      cursor: pointer;
      margin: 0 5px;
    }
    .navbar__list--mobile {
      display: block;
      margin: 0;
      padding: 0;
      height: 0;
      list-style: none;
      position: absolute;
      top: 100%;
      left: 0;
      font-size: 1.2rem;
      z-index: 1000;
      background-color: #000052;
      transition: 0.2s;
      width: 100%;
      overflow: hidden;
    }
    .navbar__list--mobileShow {
      height: 180px;
    }
    .navbar__list--mobile li a {
      display: flex;
      color: #ffffff;
      justify-content: center;
      align-items: center;
      height: 60px;
      text-decoration: none;
    }
  
    .navbar__list--mobile li a:hover {
      background: #639703;
    }
  }
  